<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">

</div>
<div class="container">
    <div class="hero-unit">
        <h1>Items in store</h1>
        <p>
            Welcome to the SuperStore. Check our inventory.
        </p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/media/bolt.jpg" alt="..."/>
                <div class="caption">
                    <h3>Bolt</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Buy one</a> <a href="#" class="btn btn-default" role="button">Details</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/media/bag.jpg" alt="..."/>
                <div class="caption">
                    <h3>GIft bag</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Buy one</a> <a href="#" class="btn btn-default" role="button">Details</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/media/noimage.jpg" alt="..."/>
                <div class="caption">
                    <h3>Something</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Buy one</a> <a href="#" class="btn btn-default" role="button">Details</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/media/cube.jpg" alt="..."/>
                <div class="caption">
                    <h3>Cube 2x2</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</div>
</body>
</html>