<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">

</div>
<div class="container">
    <div class="hero-unit">
        <h1>Properties</h1>
        <p>
            Welcome to the Spring Boot Thymeleaf Application!
        </p>
        <p>
            <a href="#" th:href="@{/properties/json}" class="btn btn-large btn-success">System Properties</a>
        </p>
    </div>
    <div>
        <h1>Spring Actuator</h1>
        <p>
            Actuator endpoints allow you to monitor and interact with your application.
            Spring Boot includes a number of built-in endpoints and you can also add your own.
        </p>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{autoconfig}">autoconfig</a></p>
                    </td>
                    <td>
                        <p>Displays an auto-configuration report showing all auto-configuration candidates and the
                        reason why they “were” or “were not” applied.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{beans}">beans</a></p>
                    </td>
                    <td>
                        <p>Displays a complete list of all the Spring Beans in your application</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{configprops}">configprops</a></p>
                    </td>
                    <td>
                        <p>Displays a collated list of all <code class="literal">@ConfigurationProperties</code>.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{dump}">dump</a></p>
                    </td>
                    <td>
                        <p>Performs a thread dump.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{env}">env</a></p>
                    </td>
                    <td>
                        <p>Exposes properties from Spring’s <code class="literal">ConfigurableEnvironment</code>.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{health}">health</a></p>
                    </td>
                    <td>
                        <p>Shows application health information (defaulting to a simple “OK” message).</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{info}">info</a></p>
                    </td>
                    <td>
                        <p>Displays arbitrary application info.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{metrics}">metrics</a></p>
                    </td>
                    <td>
                        <p>Shows “metrics” information for the current application.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{mappings}">mappings</a></p>
                    </td>
                    <td>
                        <p>Displays a collated list of all <code class="literal">@RequestMapping</code> paths.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{trace}">trace</a></p>
                    </td>
                    <td>
                        <p>Displays trace information (by
                            default the last few HTTP requests).</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</div>
</body>
</html>