<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">

</div>
<div class="container">
    <div class="hero-unit">
        <h1>Items in store</h1>

        <p>
            Welcome to the SuperStore. Check our inventory.
        </p>
    </div>
    <!-- Pagination Bar -->
    <!--
    <p th:text="${page}">Page</p>\
    <p th:text="${page.getContent()}">content</p>
    -->
    <p th:if="${page.getTotalPages()} == 0">No items in store</p>
    <div th:if="${page.getTotalPages()} != 0" class="table-pagination">
        <ul class="pagination">
            <p th:text="${page.getSize()}"/>
            <p th:text="${page.getTotalPages()}"/>
            <li th:class="${page.getNumber() eq 0} ? 'disabled' : ''">
                <a th:if="${not page.isFirst()}"
                   th:href="@{${'/items'}(page=${page.getNumber()-1},size=${page.getSize()})}">Previous</a>
                <a th:if="${page.isFirst()}" href="javascript:void(0);">Previous</a>
            </li>

            <li th:each="pageNo : ${#numbers.sequence(0, page.getTotalPages() - 1)}"
                th:class="${page.getNumber() eq pageNo}? 'active' : ''">
                <a th:if="${page.getNumber()  eq pageNo}" href="javascript:void(0);">
                    <span th:text="${pageNo + 1}"></span>
                </a>
                <a th:if="${not (page.getNumber()  eq pageNo)}"
                   th:href="@{${'/items'}(page=${pageNo},size=${page.getSize()})}">
                    <span th:text="${pageNo + 1}"></span>
                </a>
            </li>
            <li th:class="${page.getNumber() + 1 ge page.getTotalPages()} ? 'disabled' : ''">
                <a th:if="${not page.isLast()}"
                   th:href="@{${'/items'}(page=${page.getNumber()+1},size=${page.getSize()})}">Next</a>
                <a th:if="${page.isLast()}" href="javascript:void(0);">Next</a>
            </li>
        </ul>
        <p th:text="${page.getRowCount()}"/>

        <div th:each="row : ${#numbers.sequence( 0, page.getRowCount() - 1)}">
            <div class="row">
                <div th:each="col : ${#numbers.sequence( 0, page.ITEMS_ON_ROW - 1)}" class="col-sm-6 col-md-4">
                    <div th:if="${page.hasItemAt(row,col)}" class="thumbnail">
                        <img th:attr="src=@{${page.getImagePath(row,col)}}"/>

                        <div class="caption">
                            <h3 th:text="${page.getItemAt(row,col).name}">Name</h3>

                            <p th:text="${page.getItemAt(row,col).description}">Description</p>
                            <p th:text="${page.getItemAt(row,col).stock}">stock</p>

                            <p><a href="#" class="btn btn-primary" role="button">Buy one</a> <a href="#"
                                                                                                class="btn btn-default"
                                                                                                role="button">Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>